*{
    margin:0px;

}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header{
    
    background-color:#FFF8F3;
    background-image:url("./images/header_bg.png"),url("./images/developer.png");
    /* eivabe duita background set kora jabe */
   background-repeat: no-repeat;
   background-position:bottom right,bottom left;
   /* duita background er eksathe position set kora jabe */
   background-size:auto;

}



nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:30px 50px 0px 150px;
}
nav h1{
    font-size: 55px;
}
nav h1 span{
    color:#FD6E0A;
}

nav li{
    margin-left:50px;
    list-style:none;
}
nav>ul{
    display:flex;
    align-items:center;   
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
img{
   height:650px;
   width:800px;
   transform:scaleX(-1);
   
}
.btn-primary{
    background-color:#FD6E0A;
    width:130px;
    height:45px;
    border:none;
    border-radius:10px;
}
.new{
    background-color: bisque;
    width:130px;
    height:45px;
    border:none;
    border-radius:10px;
}
.banner{
    padding:30px 0px 0px 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width:600px;
}
.name{
    padding:10px 0;
    font-size:60px;
}
.des{
    padding:0 0 10px 0;
}
button i{
    padding-right:10px;
}
.section1{
    background-color:#FFF8F3;
    margin:230px;
    padding:131px 157px;
}
.myprofile{
    display:flex;
    list-style: none;
    justify-content:space-around;
    align-items:center;
    padding-top:30px;
}
.section1>h2{
    text-align:center;
    font-size: 50px;
    padding-bottom:30px;
}
.section2{
    margin:130px 230px;
}
.section2 h2{
    text-align: center;
    padding-bottom:30px;
    font-size:40px;
}
.section2>.mylearning{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    list-style: none;
    padding-top:30px;
}
.item{
    height:350px;
    width:200px;
    padding:50px;
    background-color: #ffffff;
    border:none;
    box-shadow:0px 0px 10px 0px black;   
}

.item h3{
    padding:20px 0px;
    
}
.section2 .skilldes{
    padding:0px 216px;
}
.section4{
    margin:130px 230px;
}
.section4>.resume{
    display:flex;
    
}
.section4 .resume .education .summary{
    list-style: none;
    padding-right:10px;
}

hr{
    color:#D1D1D1;
    height:fit-content;
}
.section4 h1{
    text-align:center;
    padding-bottom:113px;
    font-size:40px;
}
.section4 .resume .education h3{
    padding-left:40px;
    padding-bottom:10px;
}
.section4 .resume .summary{
   padding-bottom:40px;
}
.section4 .resume .summary li {
    padding:10px 0px;
}
.section4 .resume .summary li h4{
    padding:5px 0px;
}
.section4 .resume .summary li h5{
    padding:5px 0px;
    font-weight:bold;
    font-style: large;
    color:#b9b8b8;
}
.section4 .resume .summary li p{
    font-style:normal;
    font-weight:normal;
    padding-right:20px;
} 
.section4 button{
    margin:0px 700px;
}