*{
    margin:0px;

}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header{
    
    background-color:#FFF8F3;
    background-image:url("./images/header_bg.png"),url("./images/developer.png");
    /* eivabe duita background set kora jabe */
   background-repeat: no-repeat;
   background-position:bottom right,bottom left;
   /* duita background er eksathe position set kora jabe */
   background-size:auto;

}



nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:30px 50px 0px 150px;
}
nav h1{
    font-size: 55px;
}
nav h1 span{
    color:#FD6E0A;
}

nav li{
    margin-left:50px;
    list-style:none;
}
nav>ul{
    display:flex;
    align-items:center;   
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
img{
   height:650px;
   width:800px;
   transform:scaleX(-1);
   
}
.btn-primary{
    background-color:#FD6E0A;
    width:130px;
    height:45px;
    border:none;
    border-radius:10px;
}
.new{
    background-color: bisque;
    width:130px;
    height:45px;
    border:none;
    border-radius:10px;
}
.banner{
    padding:30px 0px 0px 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width:600px;
}
.name{
    padding:10px 0;
    font-size:60px;
}
.des{
    padding:0 0 10px 0;
}